.links {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.s {
    margin: 20px;
    transition: ease-in-out 0.2s;
    background-color: var(--main-color);
    color: white;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 40px;
    font-size: 40px;

    @media (hover: hover) {
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 10px var(--main-color);
        }
    }
}

.telegram {
    padding-left: 8px;
    padding-right: 12px;
}


@media (max-width: 440px) {
    .s {
        width: var(--mobile-social-licks-size);
        height: var(--mobile-social-licks-size);
        border-radius: var(--mobile-social-licks-size);
        font-size: var(--mobile-social-licks-size);
        padding: calc(var(--mobile-social-licks-size)/4);
        margin: calc(var(--mobile-social-licks-size)/2);
    }
}