@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
    --font-family: "Quicksand", "Nunito", "Comfortaa", Calibri;

    --default-text-color: #fff;
    --secondary-text-color: #ccc;
    --third-text-color: #999;

    --level-bg-color: #222233;
    --scroll-btn-bg-color: #2e2e4b;

    --mobile-social-licks-size: 8vw;

    --info-bg-color: #0f0f0fbb;

    --border-radius1: 4px;
    --border-radius2: 8px;
    --border-radius3: 12px;
    --border-radius4: 16px;

    --player-level-progress: 90.5%;
}