body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-info {
  width: 80vw;
  padding: 0 3vw;
  padding-bottom: 3vh;
  background-color: var(--info-bg-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: var(--default-text-color);
  border-radius: 12px;
}
.more-info a {
  color: white;
  transition: 0.1s;
}
@media (hover: hover) {
  .more-info a:hover {
    color: #3f52ff;
  }
}
.more-info a:active {
  color: #3f52ff;
}

.SendRequest {
  text-decoration: none;
}
.SendRequest button {
  font-family: var(--font-family);
  color: white;
  padding: 10px;
  background-color: #3f52ff;
  border-radius: 12px;
  transition: 0.25s;
  border: none;
  outline: none;
}
@media (hover: hover) {
  .SendRequest:hover {
    filter: brightness(90%);
  }
}

.Disabled button {
  background-color: #424242;
  color: #888;
}
@media (hover: hover) {
  .Disabled:hover {
    filter: none;
  }
}

.shadow-1 {
  text-shadow: 0 0 5px black;
}

input[type=checkbox] {
  transform: scale(150%);
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.checkbox {
  font-size: 1.5rem;
  color: var(--third-text-color);
  transition: 0.2s ease-in-out;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  margin: 5px;
}
@media (hover: hover) {
  .checkbox:hover {
    color: var(--default-text-color);
  }
}

.checkbox-selected {
  color: var(--default-text-color);
  transform: translateX(10px);
  text-shadow: 0 0 3px var(--default-text-color);
}
@media (hover: hover) {
  .checkbox-selected:hover {
    color: var(--secondary-text-color);
    text-shadow: none;
  }
}