@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");
:root {
  --font-family: "Quicksand", "Nunito", "Comfortaa", Calibri;
  --default-text-color: #fff;
  --secondary-text-color: #ccc;
  --third-text-color: #999;
  --level-bg-color: #222233;
  --scroll-btn-bg-color: #2e2e4b;
  --mobile-social-licks-size: 8vw;
  --info-bg-color: #0f0f0fbb;
  --border-radius1: 4px;
  --border-radius2: 8px;
  --border-radius3: 12px;
  --border-radius4: 16px;
  --player-level-progress: 90.5%;
}

.level {
  border: none;
  outline: none;
  font-family: var(--font-family);
  color: var(--default-text-color);
  display: flex;
  background-color: var(--level-bg-color);
  border-radius: var(--border-radius3);
  margin: 8px;
  width: 75vw;
  height: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6666666667);
  transition: 0.1s;
  text-align: left;
}
@media (max-width: 580px) {
  .level {
    width: 90%;
  }
}
@media (hover: hover) {
  .level:hover {
    transform: scale(101%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5333333333);
    filter: brightness(110%);
  }
}

.level-image {
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-height: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.level-image img {
  height: calc(100% - 20px);
  border-radius: var(--border-radius2);
}

.level-text {
  margin-left: 10px;
  font-size: clamp(0px, 2vw, 15px);
  text-align: left;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .level-text {
    font-size: clamp(0px, 1.6vw, 15px);
  }
}
.level-text h2, .level-text h3 {
  color: var(--secondary-text-color);
  margin: 0;
}
.level-text h1 {
  margin: 5px;
}

.copyIdIcon {
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .copyIdIcon:hover {
    filter: brightness(80%);
  }
}

#players-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  background-color: var(--level-bg-color);
  border-radius: 1.2vw;
  font-family: var(--font-family);
  color: var(--default-text-color);
  width: 75vw;
  transition: 0.1s;
  margin: 8px;
  display: flex;
  padding: 16px 24px;
}
.player img {
  width: 70px;
  height: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.player * {
  margin: 0;
}
.player h3 {
  color: var(--third-text-color);
}
.player .player-text-wrapper {
  margin-left: 16px;
}
@media (hover: hover) {
  .player:hover {
    transform: scale(101%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5333333333);
    filter: brightness(110%);
  }
}

#player-level-bar {
  height: 20px;
  width: 80%;
  position: relative;
  border-radius: 16px;
}
#player-level-bar::before {
  border-radius: 10px;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #252031;
  position: absolute;
  z-index: -1;
}
#player-level-bar::after {
  animation: fill-level-bar 1s ease-out;
  border-radius: 10px;
  content: "";
  height: 100%;
  width: var(--player-level-progress);
  background: linear-gradient(90deg, #6868f5, #53a753, rgb(230, 118, 220));
  position: absolute;
  z-index: -1;
}

#player-level-bar-frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
}
#player-level-bar-frame > * {
  margin: 10px;
}

.player-levels-frame > div > h1 {
  text-align: center;
  text-shadow: 0 0 10px black;
}

.player-name {
  background-color: var(--info-bg-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: var(--border-radius4);
  padding: 10px 20px;
  width: 85vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-xp-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-xp-info > * {
  margin: 10px;
}

.player-level {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.player-level1 {
  color: white;
}

.player-level2 {
  color: #d7e659;
}

.player-level3 {
  color: #ff0000;
}

.player-level4 {
  color: #9b59e6;
}

.player-level5 {
  color: white;
  padding: 3px;
  background: linear-gradient(45deg, #93b9ff, #ba7ad8);
  border-radius: var(--border-radius2);
  box-shadow: 0 0 10px white;
  transition: 0.3s;
}

.player-level6 {
  color: white;
  padding: 3px;
  background: linear-gradient(45deg, #f072ea, #d87a7a);
  border-radius: var(--border-radius2);
  box-shadow: 0 0 5px #df68cf;
  transition: 0.3s;
  animation: legendary-level-pulse 2s ease-in-out infinite;
}

@keyframes legendary-level-pulse {
  0% {
    box-shadow: 0 0 10px #df68cf;
  }
  50% {
    box-shadow: 0 0 15px #df68cf;
  }
  100% {
    box-shadow: 0 0 10px #df68cf;
  }
}
@keyframes fill-level-bar {
  0% {
    width: 0;
  }
  100% {
    width: var(--player-level-progress);
  }
}
.scroll-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(-8px) translateY(-8px);
  transition: 0.25s;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: var(--scroll-btn-bg-color);
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6666666667);
  display: none;
}
.scroll-btn:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5333333333);
  filter: brightness(110%);
}

/*.show {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.hide {
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}*/
#top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh;
  border-radius: 2vh;
  font-size: clamp(10px, 2vw, 15px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logo {
  margin: 2vh 2vw;
  color: var(--default-text-color);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .logo:hover {
    text-shadow: 0 0 5px var(--default-text-color);
  }
}
@media (max-width: 500px) {
  .logo {
    font-size: 60px;
    display: none;
  }
}

.page {
  padding: 2vh 2vw;
  margin: 0 0.5vw;
  border-radius: 1vh;
  color: var(--default-text-color);
  text-decoration: none;
  transition: 0.25s;
}
@media (hover: hover) {
  .page:hover {
    background-color: rgba(255, 255, 255, 0.0666666667);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    text-shadow: 0 0 2px var(--default-text-color);
  }
}

.selected-page {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media (hover: hover) {
  .selected-page:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.s {
  margin: 20px;
  transition: ease-in-out 0.2s;
  background-color: var(--main-color);
  color: white;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 40px;
  font-size: 40px;
}
@media (hover: hover) {
  .s:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px var(--main-color);
  }
}

.telegram {
  padding-left: 8px;
  padding-right: 12px;
}

@media (max-width: 440px) {
  .s {
    width: var(--mobile-social-licks-size);
    height: var(--mobile-social-licks-size);
    border-radius: var(--mobile-social-licks-size);
    font-size: var(--mobile-social-licks-size);
    padding: calc(var(--mobile-social-licks-size) / 4);
    margin: calc(var(--mobile-social-licks-size) / 2);
  }
}
#info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#info-wrapper > h1 {
  text-shadow: 0 0 5px black;
}

#level-info {
  background-color: var(--info-bg-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: var(--default-text-color);
  box-sizing: border-box;
  width: 85vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius4);
}
#level-info img {
  border-radius: var(--border-radius3);
  width: 65vw;
  max-width: 550px;
}
#level-info h2 {
  margin: 10px 20px;
}
#level-info h2 > span {
  color: var(--third-text-color);
}

#victors {
  box-sizing: border-box;
  width: 85vw;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
}

.victor {
  background-color: var(--info-bg-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: var(--default-text-color);
  border-radius: var(--border-radius4);
  padding: 10px 20px;
  text-decoration: underline;
  cursor: pointer;
}
.victor > span {
  color: var(--third-text-color);
}

#info-back-button {
  margin: 10px;
  padding: 10px 30px;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  border-radius: var(--border-radius3);
  background-color: var(--info-bg-color);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

* {
  padding: none;
  margin: none;
}

body {
  font-family: var(--font-family);
  background-color: #232323;
  color: white;
  background: url("../images/ListBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.levels-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  font-family: var(--font-family);
}

.back {
  outline: none;
  border: none;
  border-radius: 8px;
}

.flex-row-frame {
  display: flex;
  flex-direction: row;
}

.flex-column-frame {
  display: flex;
  flex-direction: column;
}

.flex-wrap-frame {
  flex-wrap: wrap;
}